POSTGRES_USER=cora
POSTGRES_PASSWORD=cora
POSTGRES_NAME=cora_db
POSTGRES_DB=cora_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

RABBITMQ_URL="amqp://cora:cora@localhost:5672/cora"
RABBITMQ_QUEUE="ocr_labels"
